*,
*::before,
*::after {
    box-sizing: border-box;
}

*:first-child {
    margin-top: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    text-size-adjust: none;
    text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
    width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: #fff;
}

[tabindex="-1"]:focus {
    outline: none !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 8px;
    margin-bottom: 0;
}

p {
    margin-top: 16px;
    margin-bottom: 0;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
}

address {
    margin-top: 16px;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 16px;
    margin-bottom: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-top: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-top: 8px;
    margin-left: 0;
}

blockquote {
    margin: 16px 0 0;
}

dfn {
    font-style: italic;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

a {
    color: #00008f;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover, a:focus {
    color: #00005b;
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    margin-top: 16px;
    margin-bottom: 0;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

figure {
    margin: 16px 0 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #5f5f5f;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    margin-top: 8px;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-top: 8px;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

.o-header {
    position: relative;
    display: block;
}

.o-header__fade .o-sticky__box {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.o-header__fade.is-sticky-sticky > .o-sticky__box {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.o-header__fade.is-sticky-sticky.is-sticky-scroll-down > .o-sticky__box {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.o-header__fade.is-sticky-sticky.is-sticky-scroll-up > .o-sticky__box {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.m-header-main {
    position: relative;
    z-index: 1060;
    display: block;
    height: 75px;
    border-bottom: 2px solid #e5e5e5;
    background: #fff;
}

.m-header-main__box {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 576px) {
    .m-header-main__box {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .m-header-main__box {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .m-header-main__box {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .m-header-main__box {
        max-width: 1140px;
    }
}

.m-header-main--first-left > .m-header-main__box > *:first-child + * {
    margin-left: auto;
}

@media (max-width: 991px) {
    .m-header-main__box {
        max-width: none !important;
    }
}

.m-header-logo {
    max-width: 16.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    display: block;
    -ms-flex-item-align: center;
    align-self: center;
}

@media (min-width: 992px) {
    .m-header-logo {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
}

.m-header-logo__link {
    display: inline-block;
}

.m-header-logo__icon {
    width: 35px;
    height: 35px;
    display: block;
}

@media (min-width: 576px) {
    .m-header-logo__icon {
        width: 43px;
        height: 43px;
    }
}

@media (min-width: 1200px) {
    .m-header-logo__icon {
        width: 53px;
        height: 53px;
    }
}

.m-header-logo__img {
    display: block;
    height: 35px;
}

@media (min-width: 576px) {
    .m-header-logo__img {
        height: 43px;
    }
}

@media (min-width: 1200px) {
    .m-header-logo__img {
        height: 53px;
    }
}

.m-footer-legals {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    max-width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: auto;
    color: rgba(255, 255, 255, 0.65);
    text-align: right;
}

@media (min-width: 576px) {
    .m-footer-legals {
        font-size: 13px;
        line-height: 1.38;
    }
}

@media (max-width: 991px) {
    .m-footer-legals {
        padding-bottom: 15px;
        margin-left: 0;
        text-align: center;
    }

    .m-footer-legals:first-child:last-child {
        padding-bottom: 6px;
    }
}

@media (max-width: 575px) {
    .m-footer-legals:last-child {
        padding-top: 0;
    }

    .m-footer-legals:first-child {
        padding-top: 15px;
    }

    .m-footer-legals:first-child:last-child {
        padding-top: 6px;
    }
}

.m-footer-legals__link {
    position: relative;
    display: inline-block;
    padding: 6px 10px;
    margin: -6px 0;
    color: rgba(255, 255, 255, 0.65);
}

.m-footer-legals__link:hover, .m-footer-legals__link:active, .m-footer-legals__link:focus {
    color: #fff;
    text-decoration: none;
}

.m-footer-legals__link::after {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    content: '';
    background: rgba(255, 255, 255, 0.65);
}

.m-footer-legals__link:first-child::after {
    display: none;
}

.m-footer-legals__copy {
    display: inline-block;
    margin-left: 10px;
}

.m-footer-legals--bottom {
    -ms-flex-item-align: end;
    align-self: flex-end;
    text-align: right !important;
}

.m-footer-legals--bottom .m-footer-legals__link:last-of-type {
    margin-right: -10px;
}

.m-footer-legals--bottom .m-footer-legals__copy {
    display: block;
    margin-left: 0;
}

.m-footer-sub {
    display: block;
    background: #3032c1;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.m-footer-sub__box {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: auto;
}

@media (min-width: 576px) {
    .m-footer-sub__box {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .m-footer-sub__box {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .m-footer-sub__box {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .m-footer-sub__box {
        max-width: 1140px;
    }
}

.m-footer-sub__row {
    margin-right: -15px;
    margin-left: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .m-footer-sub__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.o-container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: auto;
    display: block;
}

@media (min-width: 576px) {
    .o-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .o-container {
        max-width: 720px;
    }
}

.a-input__input {
    width: 100%;
}


.m-dropdown {
    position: relative;
    display: inline-block;
}

.m-dropdown--sm {
    height: 40px;
    line-height: 40px;
}

.m-dropdown__select-wrap {
    padding: 10.5px 55px 10.5px 20px;
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    position: relative;
    display: block;
    width: 100%;
    /* undo padding frame padding */
    padding: 0 !important;
    overflow: hidden;
    cursor: pointer;
}

.m-dropdown__select-wrap:hover, .m-dropdown__select-wrap:active, .m-dropdown__select-wrap:focus {
    outline: none;
    border-color: #00008f;
}

.m-dropdown__select-wrap:hover .m-dropdown__icon, .m-dropdown__select-wrap:active .m-dropdown__icon, .m-dropdown__select-wrap:focus .m-dropdown__icon {
    color: #00008f;
}

.m-dropdown__select-wrap--sm {
    height: 40px;
}

.m-dropdown__select {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* important: fake it to have 0 width */
    float: left;
    /* overflow is indented to fix browser who don't support hiding the native arrow */
    width: 120%;
    height: 50px;
    padding: 0;
    margin-right: -120%;
    line-height: 50px;
    /* not ideal, firefox is buggy here - see fix at the bottom */
    text-indent: 20px;
    /* not ideal, firefox is buggy here - see fix at the bottom */
    vertical-align: middle;
    cursor: pointer;
    /* don't use background nor border - the parent deals with that */
    background: transparent;
    border: none;
    color: inherit;
    /* disable native appearance like arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* disable outline styles */
    /* fix firefox focus stuff */
    /* stylelint-disable plugin/selector-bem-pattern */
    /* stylelint-enable */
    /* fix ugly blue screen at focused option value in IE */
    /* fix native select arrows on IE */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.m-dropdown__select:active, .m-dropdown__select:focus {
    border: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.m-dropdown__select:focus {
    color: #333;
}

.m-dropdown__select:focus + .m-dropdown__icon {
    color: #00008f;
}

.m-dropdown__select::-moz-focus-inner,
.m-dropdown__select option::-moz-focus-inner {
    border: none;
    box-shadow: none !important;
    outline: none !important;
}

.m-dropdown__select:focus::-ms-value {
    color: inherit;
    background: transparent;
}

.m-dropdown__select::-ms-expand {
    display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .m-dropdown__select {
        /* IE10+ CSS styles go here */
        /* fix IE not adhering to `text-indent` rules at <select> tags */
        padding-left: 20px;
    }
}

@-moz-document url-prefix() {
    .m-dropdown__select {
        /* ugly fix of firefox related issues */
        /* Fix Firefox doubles text-indent value */
        text-indent: 10px;
        /* fix firefox dotted border on focused selects */
    }
    .m-dropdown__select:focus {
        color: transparent;
        text-shadow: 0 0 0 #00008f;
    }
}

@media (min-width: 576px) {
    .m-dropdown__select {
        font-size: 18px;
    }
}

.m-dropdown__select--sm {
    height: 40px;
    line-height: 40px;
}

.m-dropdown__select-icon {
    display: block;
    float: right;
    height: 50px;
    padding: 0 20px;
    margin-left: -100%;
    pointer-events: none;
    background: #fff;
    /* fix missing height of wrapping root node of <axa-icon> */
}

.m-dropdown__select-icon > * {
    display: block;
    height: 100%;
}

.m-dropdown__select-icon .m-dropdown__icon {
    position: relative;
    right: auto;
}

.m-dropdown__select-option--hidden {
    display: none;
}

.m-dropdown__toggle {
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01em;
    cursor: pointer;
    position: relative;
    padding: 10.5px 55px 10.5px 20px;
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
}

.m-dropdown__toggle:hover, .m-dropdown__toggle:active, .m-dropdown__toggle:focus {
    outline: none;
    cursor: pointer;
}

@media (min-width: 576px) {
    .m-dropdown__toggle {
        font-size: 18px;
    }
}

.m-dropdown__toggle:hover, .m-dropdown__toggle:active, .m-dropdown__toggle:focus {
    cursor: pointer;
}

.m-dropdown__toggle:hover, .m-dropdown__toggle:active, .m-dropdown__toggle:focus {
    outline: none;
    border-color: #00008f;
}

.m-dropdown__toggle:hover .m-dropdown__icon, .m-dropdown__toggle:active .m-dropdown__icon, .m-dropdown__toggle:focus .m-dropdown__icon {
    color: #00008f;
}

.m-dropdown__toggle:hover::after, .m-dropdown__toggle:active::after, .m-dropdown__toggle:focus::after {
    display: block;
}

.m-dropdown__toggle::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 1001;
    display: none;
    width: 100%;
    height: 1px;
    overflow: hidden;
    content: '';
    background: #00008f;
}

.m-dropdown__toggle--sm {
    height: 40px;
    padding: 5.5px 55px 5.5px 20px;
}

.m-dropdown__icon {
    width: 15px;
    height: 15px;
    display: block;
    fill: currentColor;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -7.5px;
    color: #999;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.is-dropdown-open .m-dropdown__icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.is-dropdown-animating.m-dropdown--gpu > .m-dropdown__icon {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.m-dropdown__select-icon--sm {
    height: 40px;
}

.m-dropdown__content {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    top: 100%;
    z-index: 1000;
    height: 0;
    min-width: 100%;
    overflow: hidden;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    margin-top: -1px;
    background: #fff;
}

.is-dropdown-open > .m-dropdown__content {
    height: auto;
}

.m-dropdown--in-flow > .m-dropdown__content {
    position: static;
}

.is-dropdown-animating.m-dropdown--gpu > .m-dropdown__content {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.m-dropdown__item {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.m-dropdown__item:first-child {
    border-top: 1px solid #ccc;
}

.m-dropdown__item:last-child {
    border-bottom: 3px solid #ccc;
}

.m-dropdown__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01em;
    display: block;
    padding: 10.5px 20px;
    color: #333;
    white-space: nowrap;
}

@media (min-width: 576px) {
    .m-dropdown__link {
        font-size: 18px;
    }
}

.m-dropdown__link:hover, .m-dropdown__link:active, .m-dropdown__link:focus {
    color: #00008f;
    text-decoration: none;
    background: #f5f5f5;
}

@-webkit-keyframes fadeOutRightInLeft {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeOutRightInLeft {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.m-button {
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    padding: 10px 30px;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    color: #fff;
    background: #00008f;
    border-color: #00008f;
    border-bottom-color: #00005b;
}

@media (min-width: 576px) {
    .m-button {
        font-size: 14px;
        line-height: 1.21;
    }
}

.m-button:hover, .m-button:active, .m-button:focus {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.m-button:disabled, .m-button[disabled] {
    cursor: default !important;
}

a.m-button {
    display: inline-block;
}

.m-button:hover, .m-button:active, .m-button:focus {
    background: #00005b;
    border-color: #00005b;
    color: #fff;
}

.m-button:disabled, .m-button[disabled] {
    background: #999 !important;
    border-color: #999 !important;
}

.m-button__icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -2px;
    margin-bottom: 0;
    height: calc(100% + 2px);
    padding: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 2px solid currentColor;
}

.m-button__arrow {
    width: 13px;
    height: 13px;
    display: block;
    fill: currentColor;
    position: absolute;
    top: 50%;
    margin-top: -6.5px;
    right: 30px;
}

.m-button--red {
    color: #fff;
    background: #f07662;
    border-color: #f07662;
    border-bottom-color: #ec4d33;
}

.m-button--red:hover, .m-button--red:active, .m-button--red:focus {
    background: #ec4d33;
    border-color: #ec4d33;
    color: #fff;
}

.m-button--red:disabled, .m-button--red[disabled] {
    background: #999 !important;
    border-color: #999 !important;
}

.m-button--white {
    color: #fff;
    background: #fff;
    border-color: #fff;
    border-bottom-color: #00005b;
}

.m-button--white:hover, .m-button--white:active, .m-button--white:focus {
    background: #00005b;
    border-color: #00005b;
    color: #fff;
}

.m-button--white:disabled, .m-button--white[disabled] {
    background: #999 !important;
    border-color: #999 !important;
}

.m-button--ghost {
    color: #00008f;
    background: transparent;
    border-color: #00008f;
}

.m-button--ghost:hover, .m-button--ghost:active, .m-button--ghost:focus {
    color: #00005b;
    background: transparent;
    border-color: #00005b;
}

.m-button--ghost.m-button--red {
    color: #f07662;
    background: transparent;
    border-color: #f07662;
}

.m-button--ghost.m-button--red:hover, .m-button--ghost.m-button--red:active, .m-button--ghost.m-button--red:focus {
    color: #ec4d33;
    background: transparent;
    border-color: #ec4d33;
}

.m-button--ghost.m-button--white {
    color: #fff;
    background: transparent;
    border-color: #fff;
}

.m-button--ghost.m-button--white:hover, .m-button--ghost.m-button--white:active, .m-button--ghost.m-button--white:focus {
    color: #3b3fd8;
    background: #fff;
    border-color: #fff;
}

.m-button--gpu {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.m-button--motion {
    z-index: 0;
    overflow: hidden;
    -webkit-transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.m-button--motion::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 0.001px;
    height: 550px;
    content: '';
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.m-button--motion:hover::after, .m-button--motion:focus::after {
    width: 110%;
}

.m-button--motion::after {
    background: #00005b;
}

.m-button--motion:hover, .m-button--motion:focus {
    background: #00008f;
    color: #fff;
}

.m-button--motion:hover::after, .m-button--motion:focus::after {
    background: #00005b;
}

.m-button--motion.m-button--red::after {
    background: #ec4d33;
}

.m-button--motion.m-button--red:hover, .m-button--motion.m-button--red:focus {
    background: #f07662;
    color: #fff;
}

.m-button--motion.m-button--red:hover::after, .m-button--motion.m-button--red:focus::after {
    background: #ec4d33;
}

.m-button--motion.m-button--white::after {
    background: #fff;
}

.m-button--motion.m-button--white:hover, .m-button--motion.m-button--white:focus {
    background: #fff;
    color: #3b3fd8;
}

.m-button--motion.m-button--white:hover::after, .m-button--motion.m-button--white:focus::after {
    background: #fff;
}

.m-button--motion.m-button--ghost {
    background: transparent !important;
}

.m-button--motion:hover .m-button__arrow, .m-button--motion:active .m-button__arrow, .m-button--motion:focus .m-button__arrow {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutRightInLeft;
    animation-name: fadeOutRightInLeft;
}

.m-button--generic-icon {
    padding-right: 70px;
    overflow: hidden;
}

.m-button--arrow {
    padding-right: 55px;
}

.m-button--x-pad-20 {
    padding-right: 20px;
    padding-left: 20px;
}

.m-button--x-pad-20.m-button--arrow {
    padding-right: 45px;
}

.m-button--x-pad-20 .m-button__arrow {
    right: 20px;
}

.m-button--x-pad-40 {
    padding-right: 40px;
    padding-left: 40px;
}

.m-button--x-pad-40.m-button--arrow {
    padding-right: 65px;
}

.m-button--x-pad-40 .m-button__arrow {
    right: 40px;
}

.m-button--sm {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    border-width: 1px;
}

@media (min-width: 576px) {
    .m-button--sm {
        font-size: 13px;
        line-height: 1.38;
    }
}

.m-button--sm .m-button__icon {
    width: 30px;
    height: 30px;
    height: calc(100% + 1px);
    padding: 5px;
    margin-top: -1px;
    border-left: 1px solid currentColor;
}

.m-button--sm.m-button--generic-icon {
    padding-right: 60px;
    overflow: hidden;
}

.m-button--lg {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 11px;
    padding-bottom: 11px;
}

@media (min-width: 576px) {
    .m-button--lg {
        font-size: 16px;
    }
}

.m-button--lg.m-button--arrow {
    padding-right: 59px;
}

.m-button--lg .m-button__icon {
    width: 50px;
    height: 50px;
    height: calc(100% + 2px);
    padding: 11px;
}

.m-button--lg .m-button__arrow {
    width: 17px;
    height: 17px;
    margin-top: -8.5px;
}

.m-button--lg.m-button--generic-icon {
    padding-right: 80px;
    overflow: hidden;
}

.a-input {
    display: block;
    width: 100%;
}

.a-input:not(:first-child) {
    margin-top: 5px;
}

@media (min-width: 768px) {
    .a-input:not(:first-child) {
        margin-top: 10px;
    }
}

.a-input__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.a-input__input {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 40px;
    padding: 0 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #333;
    background: #fff;
    outline: none;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media (min-width: 576px) {
    .a-input__input {
        font-size: 14px;
        line-height: 1.21;
    }
}

.a-input__input::-webkit-input-placeholder {
    color: #999;
}

.a-input__input:-ms-input-placeholder {
    color: #999;
}

.a-input__input::-ms-input-placeholder {
    color: #999;
}

.a-input__input::placeholder {
    color: #999;
}

.a-input__input:hover:not([disabled]):not(:disabled):not(.a-input--error), .a-input__input:active:not([disabled]):not(:disabled):not(.a-input--error), .a-input__input:focus:not([disabled]):not(:disabled):not(.a-input--error) {
    border-color: #00008f;
}

.a-input__input[disabled],
.a-input__input :disabled {
    background-color: #f5f5f5;
}

.a-input--error .a-input__input {
    border-color: #c91432;
}

.a-input--valid .a-input__valid-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.a-input--inline {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.a-input--inline + .a-input--inline {
    margin-left: 10px;
}

@media (min-width: 768px) {
    .a-input--inline + .a-input--inline {
        margin-left: 15px;
    }
}

.a-input--inline .a-input__wrapper {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.a-input__valid-icon {
    display: none;
    width: 48px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.a-input__valid-icon::before {
    display: block;
    width: 8px;
    height: 16px;
    content: "";
    border: solid #1cc54e;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.m-form-group {
    display: block;
}

.m-form-group:not(:first-child) {
    margin-top: 15px;
}

@media (min-width: 768px) {
    .m-form-group:not(:first-child) {
        margin-top: 20px;
    }
}

.m-form-group__wrapper {
    display: block;
}

.m-form-group--info .m-form-group__label {
    margin-right: 8px;
}

.m-form-group--info .m-form-group__info-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.m-form-group--error .m-form-group__error {
    display: block;
}

.m-form-group__label-icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.m-form-group__error {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 4px 0;
    display: none;
    color: #c91432;
}

@media (min-width: 576px) {
    .m-form-group__error {
        font-size: 14px;
        line-height: 1.21;
    }
}

.m-form-group__label {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.02em;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 576px) {
    .m-form-group__label {
        font-size: 16px;
    }
}

.m-form-group__info-button {
    background: transparent;
    border: none;
    display: none;
    margin: 0;
    margin-right: -1px;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    cursor: pointer;
}

.m-form-group__info-button:hover, .m-form-group__info-button:active, .m-form-group__info-button:focus {
    outline: none;
    cursor: pointer;
}

.m-form-group__icon {
    display: block;
    height: 16px;
    width: 16px;
    fill: #00008f;
}

.m-form-group__icon--open {
    display: block;
}

.m-form-group__icon--close {
    display: none;
}

.m-form-group__info {
    height: 0;
    min-width: 100%;
    overflow: hidden;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

.m-form-group__info-content {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 20px;
    color: #fff;
    background-color: #2425aa;
    -webkit-box-shadow: inset 0 0 15px #00008f;
    box-shadow: inset 0 0 15px #00008f;
}

@media (min-width: 576px) {
    .m-form-group__info-content {
        font-size: 14px;
        line-height: 1.21;
    }
}

.is-form-group-info-open .m-form-group__info {
    height: auto;
}

.is-form-group-info-open .m-form-group__icon--close {
    display: block;
}

.is-form-group-info-open .m-form-group__icon--open {
    display: none;
}

.a-checkbox:hover:not(.a-checkbox--disabled):not(.a-checkbox--error) {
    color: #00008f;
}

.a-checkbox:hover:not(.a-checkbox--disabled):not(.a-checkbox--error) .a-checkbox__icon {
    border-color: #00008f;
}

.a-checkbox:hover:not(.a-checkbox--disabled):not(.a-checkbox--error) .a-checkbox__icon::after {
    border-color: #00008f;
}

.a-checkbox .a-checkbox__wrapper {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.5;
}

.a-checkbox .a-checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
    overflow: hidden;
}

.a-checkbox .a-checkbox__input:focus .a-checkbox__icon {
    border-color: #00008f;
}

.a-checkbox .a-checkbox__input:focus + .a-checkbox__icon::after {
    border-color: #00008f;
}

.a-checkbox .a-checkbox__icon--active::after {
    border-color: #00008f;
    background-color: #00008f;
}

.a-checkbox .a-checkbox__input:disabled + .a-checkbox__icon,
.a-checkbox .a-checkbox__input[disabled] + .a-checkbox__icon {
    cursor: default;
    border-color: #999;
}

.a-checkbox .a-checkbox__input:disabled + .a-checkbox__icon::after,
.a-checkbox .a-checkbox__input[disabled] + .a-checkbox__icon::after {
    border-color: transparent;
}

.a-checkbox .a-checkbox__icon {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    width: 18px;
    height: 18px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border: 1px solid #999;
    cursor: pointer;
    border-radius: 0;
}

.a-checkbox .a-checkbox__icon::after {
    width: 8px;
    height: 8px;
    border: 1px solid transparent;
    content: "";
}

.a-checkbox .a-checkbox__icon::after {
    border-radius: 0;
}

.a-checkbox--error {
    color: #c91432;
}

.a-checkbox--error .a-checkbox__icon {
    border-color: #c91432;
}

.a-checkbox--disabled {
    color: #999;
}


.m-page-title {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: auto;
    margin-top: 30px;
    text-align: center
}

@media (min-width: 576px) {
    .m-page-title {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .m-page-title {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .m-page-title {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .m-page-title {
        max-width: 1140px
    }
}

.m-page-title:first-child {
    margin-top: 0
}

@media (min-width: 768px) {
    .m-page-title {
        margin-top: 60px
    }

    .m-page-title:first-child {
        margin-top: 0
    }
}

@media (min-width: 992px) {
    .m-page-title {
        margin-top: 80px
    }

    .m-page-title:first-child {
        margin-top: 0
    }
}

@media (min-width: 992px) {
    .m-page-title:first-child {
        padding-top: 80px
    }
}

.m-page-title__heading {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.13;
    letter-spacing: .015em;
    font-family: Publico Headline, Georgia, serif;
    margin: 0
}

@media (min-width: 576px) {
    .m-page-title__heading {
        font-size: 50px;
        line-height: 1.16
    }
}

@media (min-width: 992px) {
    .m-page-title__heading {
        font-size: 62px
    }
}

.sapCpWidgetHidden {
    display: none !important;
}

.sapCpButtonWidget .sapCpErrorMessageText {
    display: block;
    color: red
}

.sapCpContentPage:not(.sapCpSubmitError) .sapCpButtonWidget .sapCpErrorMessageText {
    display: none
}

.sapCpButtonWidget .sapCpSuccessMessageLabel {
    display: block;
    color: green
}

.sapCpContentPage:not(.sapCpSubmitCompleted) .sapCpButtonWidget .sapCpSuccessMessageLabel {
    display: none
}

.sapCpButtonWidget .sapCpMissingMandatoryFieldLabel {
    display: block;
    color: red
}

.sapCpContentPage:not(.sapCpMissingMandatoryField) .sapCpButtonWidget .sapCpMissingMandatoryFieldLabel {
    display: none
}

.sapCpLayout {
    margin-top: 32px;
}

.sapCpContentPageLoading {
    opacity: 0;
}

p {
    margin: 16px 0 !important;
}

.a-checkbox__wrapper {
    margin: 0;
}

.checkbox-fix {
    display: flex;
    align-items: center;
}

.checkbox-fix .m-form-group__label {
    font-weight: 500;
    margin: 0;
    user-select: none;
}

.button-fix {
    display: flex;
    margin-top: 16px;
}

.button-fix .m-button {
    margin-left: auto;
}

.a-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 100%;
    height: 250px;
    background: url(https://d5cplpsrt2s33.cloudfront.net/m/168848c17e0154c4/WIDE_1920_480-510332824_garantieverlaengerung_keyvisual_web.jpg) bottom;
    background-size: cover;
}